*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffa0;

}

.heading{
    font-size: 40px;
}

.bmi{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
    background: rgba(102, 232, 178, 0.86);
    width: 350px;
    height: 290px;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.1),   
        0 8px 16px rgba(0, 0, 0, 0.15);

}

.result{

    width: 220px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

input{
    height: 30px;
    width: 200px;
    border: 1px solid black;
    padding: 15px;
    font-size: 15px;
    outline: none;

    
}
input:focus {
    border-color: #888; /* subtle border change on focus */
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* soft shadow instead of outline */
}

.weight-text{
    font-size: 20px;
}
.height-text{
    font-size: 20px;
}
button{
     height: 30px;
    width: 100px;
}
#bmi-analyse{

    font-size: 20px;
}

#bmi-value{
 font-size: 20px;
 margin-top: 10px;
}

.btn{
    height: 40px;
    width: 120px;
}
btn:focus {
    border-color: #888; /* subtle border change on focus */
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* soft shadow instead of outline */
}